body, header, main {
  max-width: 100vw;
}


.navbar {
  padding-left: 12px;
  padding-right: 12px;
}

header a {
  cursor: pointer;
}

.nav-item {
  cursor: pointer;
}

.contact-infos {
  padding: 1rem 2rem;
}

.contact-infos i {
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.navbar .navbar-brand img {
  margin-top: 12px;
  width: auto;
  height: 60px;
}

.navbar i {
  cursor: pointer;
}

.navbar #btn-hire {
  text-transform: uppercase;
  font-weight: 600;
  color: white;
}

main {
  width: 100%;
  height: 100%;
}

#home {
  height: 100vh;
  background: url(assets/home.jpeg) no-repeat center center/cover;
  background-attachment: fixed;
}

#home div {
  opacity: 0.9;
  border: 4px solid black; /* Added border property */
}

#about-us {
  height: 40vh;
  background-color: white;
}

#about-us div {
  opacity: 0.9;
  border: 4px solid black; /* Added border property */
}

#why {
  background-color: bisque;
  min-height: 40vh;
}

#why .card {
  border: 4px solid black; /* Added border property */
  height: 480px;
  width: 25%;
  text-align: center;
}

#why .card i {
  font-size: 50px;
  color: black;
}

#services {
  display: flex;
  flex-direction: column;
  padding-top: 48px;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;
  min-height: 40vh;
}

.service {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 20px;
  background: bisque;
}

.service:not(:nth-child(odd)) {
  flex-direction: row-reverse;
  background-color: #f5f5f5;
}

.service img {
  width: 42%;
  border: 4px solid black; /* Added border property */
}

.service div {
  width: 38%;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.service h3 {
  font-size: 4rem;
}

#our-values {
  background-color: white;
  min-height: 40vh;
}

#our-values .values {
  text-align: center;
}

#our-values .value {
  padding: 28px;
}

footer {
  text-align: center;
    background-color: #f8f9fa; /* Cor de fundo do rodapé */
    padding: 20px; /* Espaçamento interno do rodapé */
}

footer h3 {
    color: #343a40; /* Cor do título */
}

footer tel, footer email {
    display: block; /* Exibe o número de telefone e o email em linhas separadas */
    color: #6c757d; /* Cor do texto */
}

footer div {
    margin-top: 10px; /* Espaçamento acima dos ícones de mídia social */
}

footer div i {
    margin-right: 10px; /* Espaçamento à direita dos ícones de mídia social */
}

footer ul {
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o espaçamento interno da lista */
    padding-top: 20px;
}

footer ul li {
    text-decoration: underline;
    display: inline-block; /* Exibe os itens da lista lado a lado */
    margin-right: 10px; /* Espaçamento à direita dos itens da lista */
    color: #6c757d; /* Cor do texto */
    cursor: pointer;
}

footer p {
    color: #6c757d; /* Cor do texto */
    margin-top: 20px; /* Espaçamento acima do texto de direitos autorais */
}

@media screen and (max-width: 768px) {
  .navbar div:first-child {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  section {
    max-width: 100vw;
    margin: 0px;
  }

  .navbar #btn-hire {
    display: none;
  }

  #home {
    height: 100vh;
    width: 100vw;
    justify-content: end !important;
  }

  #home div {
    padding-top: 30px;
    width: 100% !important;
  }

  #home div h1,
  #home div p {
    padding: 0px !important;
  }

  #about-us {
    height: auto !important;
  }

  #about-us div {
    margin: 12px;
    width: 100% !important;
    font-size: 0.8rem;
  }

  #why {
    height: auto !important;
  }

  #why div {
    margin: 12px;
    width: 100% !important;
    flex-direction: column;
  }

  #why div .card {
    height: auto !important;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
  }

  #why .card-body {
    gap: 0px !important;
    margin: 0px;
    padding: 0px;
  }

  .service {
    width: 100%;
    flex-direction: column !important;
  }

  .service img {
    width: 100%;
  }

  .service div {
    width: 100%;
    padding: 12px;
  }

  .service h3 {
    font-size: 1.2rem;
    text-decoration: underline;
  }

  .values {
    flex-direction: column !important;
  }

  .value {
    width: 100% !important;
  }
}
